@charset "utf-8";
:root {
    --background: rgb(21, 22, 23);
    --on-background: rgb(204, 202, 199);
    --primary: rgb(27, 28, 29);
    --on-primary: rgb(255, 255, 255);
    --primary-container: rgb(38, 39, 40);
    --on-primary-container: rgb(255, 161, 170);
    --primary-label: unset;
    --on-primary-label: rgb(83, 83, 83);
    --secondary: rgb(32, 33, 34);
    --on-secondary: rgb(215, 210, 210);
    --secondary-container: rgba(227, 165, 191, 0.35);
    --on-secondary-container: rgb(232, 157, 188);
    --tertiary: rgb(21, 22, 23);
    --on-tertiary: rgb(143, 143, 143);
    --surface: rgb(32, 33, 34);
    --surface-variant: rgb(23, 23, 23);
    --outline: rgb(49, 49, 49);
    --outline-variant: rgb(45, 45, 45);
    --scroll-track: transparent;
    --scroll-thumb: rgba(175, 175, 183, 0.3);
    --link: inherit;
    --link-variant: rgb(123, 156, 234);
}

html:root {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
:root[theme="light"] { filter: invert(1) }
:root[theme="dark"] { filter: invert(0) }

:lang(ja):not(code, kbd, pre, samp) { font-family: 'Noto Sans JP', sans-serif }
:lang(ko):not(code, kbd, pre, samp) { font-family: 'Noto Sans KR', sans-serif }
:lang():not(code, kbd, pre, samp) { font-family: 'Noto Sans', sans-serif }

::selection {
    color: var(--background);
    background-color: var(--on-background);
}

article * {
    outline: 0px solid transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 120ms;
}
article *:focus-visible:not(a) {
    outline: 3px solid var(--outline);
}
article a {
    color: var(--link);
}
article a:focus-visible {
    outline: 0px solid transparent;
    color: var(--link-variant);
}

* {
    -webkit-tap-highlight-color: transparent;
}
body {
    height: 100vh;
    background-color: var(--background);
    overflow: hidden;
}
body > div {
    background-color: var(--surface);
}
footer::selection {
    color: var(--on-tertiary);
    background-color: var(--tertiary);
}

#\:menu,
#\:fixed {
    -ms-grid-columns: 12rem 1fr;
    grid-template-columns: 12rem 1fr;
    -ms-grid-rows: auto calc(2.25rem - 1.5rem) 1.5rem;
    grid-template-rows: auto calc(2.25rem - 1.5rem) 1.5rem;
}
#\:fixed {
    margin-inline: 1px;
}

.cap-0 { height: 0em }

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after,
.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
    content: "" !important;
}

.scrollbar-track {
    background-color: var(--scroll-track) !important;
}
.scrollbar-thumb {
    background-color: var(--scroll-thumb) !important;
}

[tabindex] {
    outline: 0px solid transparent;
}
[data-href="/"] > span {
    font-weight: 600;
    opacity: 0.6;
}
[data-menu-idx] > * > div:nth-child(n+2) {
    margin-top: 0;
}

@media screen and (max-width: 640px) {
    #\:app {
        border: 0;
    }
    #\:fixed {
        margin: unset;
    }
}
@media screen and (max-width: 576px) {
    #\:menu,
    #\:fixed {
        width: 100vw;
        -ms-grid-columns: 2.5rem 1fr;
        grid-template-columns: 2.5rem 1fr;
        -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
    }
    #\:fixed footer {
        opacity: 0;
    }
}